/.metadata/
.DS_Store
ModelAndConquer*/bin
ModelAndConquer*/src
ModelAndConquer.editor/xtend-gen/commands/.*
!ModelAndConquer.editor/src
ModelAndConquer.editor/src/models.generated/
ModelAndConquer.editor/src/ModelAndConquer/presentation
ModelAndConquer.editor/src/out/
ModelAndConquer.editor/src/models/generated
.idea
.idea/*
ModelAndConquer.editor.iml
*/xtend-gen/‚
/out