<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ModelAndConquer -->
      <package
            uri="http://zdh.thm.de/modelandconquer"
            class="ModelAndConquer.ModelAndConquerPackage"
            genModel="model/ModelAndConquer.genmodel"/>
   </extension>

</plugin>
